<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Display Image</title>
  <link rel="stylesheet" href="static/css/display.css">
</head>

<body>
  
  {% if email %}
  <div class="center">

    <div class="txt_field">
      <div class="email" >
        <h3>Email:</h3>
      </div>
      <h3>{{ email }}</h3>
    </div>
 
  
    <div class="select">
      <form action="option" method="post">
      <input type="submit" value="2X2" name="grid">
      <input type="submit" value="3X3" name="grid">
      <input type="hidden" value="{{email}}" name="em">
      </form>
      <br>
    </div>

    <hr style="border-width: 2px;">

    {%if imgs%}
    <div class="grid-item">
    {% for i in imgs %}
    {% set a=loop.index%}
    {% for j in i%}
    {% set b=loop.index%}
    <button class="bt" value="{{a}}{{b}}">
      <img src="{{ j }}" width="100" height="auto">
    </button>
    {%endfor%}
    <br>
    {%endfor%}
    </div>

    
  <form action="/pass" method="post">
    <input type="password" id="value" name="value" onfocus="this.value=''" readonly style="height: 40px; width: 300px;" placeholder="Your graphical password will generate here">
    <br>
    <input type="hidden" value="{{email}}" name="mail">
    <input type="text" id="hint" name="hint" onfocus="this.hint=''" style="height: 40px; width: 300px;" placeholder="Add a Hint">
    <br><br>
    <input type="submit" value="Add Password and Hint">
  </form>
    
    {% else %}
    <div class="image-show">
      <img src="{{ image_url }}" style="max-width: 700px; max-height: 350px;">
    </div>
    {%endif%}
  </div> 
 
  {% else %}
  <div class="abc">
    <h1>Welcome User!</h1>
    <h2>Login to continue</h2>
    <hr>
    <form method="POST">
      <div class="txt_field">
        <input type="email" id="email" name="email" placeholder="         Email" required>
      </div>
      <div class="txt_field">
       <button type="submit" onclick="location.href='Display_Image_1.html'">Show Image</button>
      </div>
    </form>
  </div>
 
  {% endif %}
</body>
<script src="static/javascript/value.js"></script>
</html>